.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 340px;
    height: 500px;
    border-radius: 25px;
    background-color: rgb(236, 133, 250);
}


.calculadora td button{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
}

#resultado{
    display: block;
    text-align: center; 
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    background-color: rgb(245, 204, 204);
    border-radius: 35px;
    /*overflow-y: scroll; */

}

.botones{
    display: block;
    border-radius: 35%;
    background-color: rgb(255, 0, 98);
    border: none;
    color: wheat;


}

.botones:active{
    background-color: rgb(162, 0, 255);
}